{{define "header"}}
<!DOCTYPE HTML>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <!--Import Google Icon Font-->
  <title>Private Certificate Authority</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Import Css -->
  <link rel="stylesheet" href="css/materialize.min.css">
  <link rel="stylesheet" href="css/language.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/api/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>
{{end}}
